<div class="results">
    
    <h4>Displaying Total <span><%= results.numOfResults %></span> Results</h4>

    <h4>
        Page 
        <span><%= results.currentPage %></span> 
        of 
        <span><%= results.pages %></span> 
    </h4> 

    <div class="container">
        <div class="row">
           
           <h1><%= results.products.category_name %></h1> 
            <!-- <% for(var i=0;i<arr.length;i++){ %> -->
            <!-- <div class="col-md-4">
                <h3><%= product.name %></h3> -->
                <!-- <div class="row">
                    <img class="img-responsive" src="images/<%= product.Image %>" alt="product-img" />
                </div> -->
            <!-- </div> -->
            
            <!-- <% }); %> -->
            
            
                
           

        </div>
        
    
    </div>

    
</div>